# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\面试项目的每日进展\CRM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
